html {
	font-family: verdana;
	background-color: #262626;
	color: #e6e6e6;
}

hr {
	border: 0.5px solid #e6e6e6;
}

#add_players {
	text-align: center;
	margin-top: 30px;
}

#add_players input {
  width: 300px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  border: 0px;
  background-color: #e6e6e6;
}

#add_players button{
	width: 200px;
	line-height: 50px;
	margin-top: 10px;
	font-size: 20px;
	border-radius: 5px;
	border: 0px;
	background-color: #f2f2f2;
}

#start_button {
	text-align: center;
	margin-top: 75px;
}

#start {
	width: 200px;
	line-height: 50px;
	margin-top: 10px;
	font-size: 20px;
	background-color: #262626;
	color: white;
	border-radius: 5px;
	border-color: #e6e6e6;
	border: 1px solid;
}

#score {
	font-size: 20px;
	margin-left: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#gen {
	margin-top: 20px;
	text-align: center;
	font-size: 25px;
}

#gen button{
	width: 200px;
	line-height: 50px;
	margin-top: 25px;
	font-size: 20px;
	border-radius: 5px;
	border: 0px;
	background-color: #f2f2f2;
}


#generated_number {
	margin-bottom: 20px;
	font-size: 35px;
	color: white;
}

#whose_turn {
	font-style: italic;
}









